:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}
body {
  /* Remove or comment out the old background rule */
  /* background: var(--background); */

  background-color: #f5faff; /* Light blue background for the entire site */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* globals.css */
a {
  color: #0070f3; /* A blue color for links */
  text-decoration: none; /* Underline links to distinguish them from plain text */
  transition: color 0.2s ease; /* Optional: Smooth transition for hover effects */
}

a:hover,
a:focus {
  color: #0055aa; /* A darker blue for hover/focus state */
  text-decoration: none; /* Remove underline on hover if desired */
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
