.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
  color: #333;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 1rem 2rem;
}

.logoArea {
  display: flex;
  align-items: center;
}

.logoArea img {
  margin-right: 1rem;
}

.headerText h2 {
  margin: 0;
  font-size: 1.25rem;
}

.headerText span {
  font-size: 0.9rem;
  color: #091F2F;
}

.navMenu ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navMenu a {
  text-decoration: none;
  color: #1871BD;
  font-weight: 500;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.heroSection {

  text-align: left;
  padding: 2rem 10%;
  min-height: 400px;
  margin-bottom: 1rem;
  background: url('/prideflags.jpg') center center / cover no-repeat;
  width: 100%;
}

.heroTitle {
  
  font-size: 2rem;
  color: rgb(0, 0, 0);
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.heroSubtitle {
  max-width: 700px;
  margin-bottom: 1rem;
  line-height: 1.4;
  font-size: 1rem;
  color: rgb(0, 0, 0);
}

.searchContainer {
  
  display: flex;
  width: 300%;
  justify-content: left;
  margin-bottom: 1rem;
}

.searchInput {
  width: 500px;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.searchButton {
  background-color: #45789C;
  color: #fff;
  border: none;
  padding: 0.6rem 1rem;
  cursor: pointer;
  font-weight: 500;
}

.searchButton:hover {
  background-color: #005999;
}

.emergencyButton {
  background-color: #FB4D42;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  font-weight: 600;
}

.emergencyButton:hover {
  background-color: #cc0000;
}

.placeholderSection {
  padding: 1rem;
  margin-bottom: 1rem;
}


.footer {
  background-color: #f5f5f5;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 0.875rem;
  color: #666;
}